<header class="row">
  <div class="col-sm-5">
    <h3><%= t('Unique Digests') %></h3>
  </div>
  <form action="<%= root_path %>unique_digests" method="get">
    <%= csrf_tag %>
    <input name="filter" type="text" value="<%= @filter %>" />
    <input class="btn btn-default" type="submit" name="submit" value="<%= t('Filter') %>" />
  </form>
  <% if @unique_digests.size > 0 && @total_size > @count.to_i %>
    <div class="col-sm-4">
      <%= erb :_paging, locals: { url: "#{root_path}unique_digests" } %>
    </div>
  <% end %>
</header>

<% if @unique_digests.size.positive? %>
  <div class="table_container">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th><%= t('Delete') %></th>
          <th><%= t('Digest') %></th>
        </tr>
      </thead>
      <% @unique_digests.each do |digest| %>
        <tr>
          <td>
            <form action="<%= root_path %>unique_digests/<%= digest %>/delete" method="get">
              <%= csrf_tag %>
              <input name="digest" value="<%= h digest %>" type="hidden" />
              <input class="btn btn-danger btn-xs" type="submit" name="delete" value="<%= t('Delete') %>" data-confirm="<%= t('AreYouSure') %>" />
            </form>
          </td>
          <td>
            <a href="<%= root_path %>unique_digests/<%= digest %>"><%= digest %></a>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
